@model IEnumerable<Entidades.TipoManipulacionLogistica>

@{
    string _ControllerName = "ManipulacionesLogisticas";
}

<table class="table table-sm table-header-app datatablePartial-scrollbar">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Código</th>
            <th>Descripción</th>
            <th width="80px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Entidades.TipoManipulacionLogistica renglon in Model)
        {
        <tr>

            <td>@renglon.tmanilog_nombre</td>
            <td>@renglon.tmanilog_codigo</td>
            <td>@renglon.tmanilog_descripcion</td>

            <td style="text-align: center; vertical-align: middle;">

                <button type="button"
                        modal-value-primary="@renglon.IdEncriptado"
                        modal-value-secondary="0"
                        modal-value-aux="0"
                        modal-url="@Url.Action("PartialModalABMTipoManipulaciones",_ControllerName)"
                        class="btn btn-info btn-sm btn-grid btnOpenModal" title="Editar Tipo">
                    <i class="fa fa-edit"></i>
                </button>


                <button type="button"
                        data-id-rel="@renglon.IdEncriptado"
                        url-delete="@Url.Action("Delete",_ControllerName)"
                        class="btn btn-danger btn-sm btn-grid btn-borrar-detalle" title="Borrar Tipo">
                    <i class="fa fa-trash"></i>
                </button>




            </td>
        </tr>
        }

    </tbody>
</table>

<script>

    function functionAccionCustom(pClave) {
        refreshData();
    }

</script>
