@model IEnumerable<Entidades.Proyecto_Objetivo>

@{
    var _ControllerName = "Proyectos";
}

<div class="d-flex flex-row-reverse mt-2 mb-2">
    <span class="badge badge-success">Indicador</span>
    <span class="badge badge-danger">Borrar</span>
    <span class="badge badge-info">Editar</span>
</div>
<div style="zoom:90%">
    <table id="tablanested_objetivos" class="table table-sm table-header-app">
        <thead>
            <tr>
                <th width="20px"></th>
                <th></th>
                <th>Código</th>
                <th>Prioridad</th>
                <th>Nombre</th>
                <th>Inicio</th>
                <th>Finalización</th>
                <th width="10%">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Entidades.Proyecto_Objetivo renglon in Model)
            {
                <tr class="original" data-bind="@renglon.IdEncriptado">
                    <td class="viewDetailsObjetivo" style="cursor:pointer"><i class="fa fa-plus-circle"></i></td>
                    <td>
                        @if (renglon.pryobj_foto.Length > 0)
                        {
                            <div class="objetivo-img"><img src="@Url.Content("~/UploadFiles/" + renglon.pryobj_foto)" width="48" height="48" viewBox="0 0 48 48" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><rect x="3" y="3" width="48" height="48" rx="2" ry="2"></rect><line x1="9" y1="3" x2="9" y2="21"></line></div>
                        }
                        else
                        {
                            <div class="objetivo-img"><img src="@Url.Content("~/UploadFiles/empty_image.png")" width="48" height="48" viewBox="0 0 48 48" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><rect x="3" y="3" width="48" height="48" rx="2" ry="2"></rect><line x1="9" y1="3" x2="9" y2="21"></line></div>
                        }
                    </td>
                    <td>@renglon.pryobj_codigo</td>
                    <td>@renglon.Prioridad.tprioridad_nombre</td>
                    <td>@renglon.pryobj_nombre</td>
                    <td>@renglon.pryobj_fec_ini.ToString("dd/MM/yyyy")</td>
                    <td>@renglon.pryobj_fec_ven.ToString("dd/MM/yyyy")</td>
                    <td style="text-align: center; vertical-align: middle;">
                        <button type="button"
                                modal-value-primary="@renglon.ProyectoVinculado.IdEncriptado"
                                modal-value-secondary="@renglon.IdEncriptado"
                                modal-value-aux="0"
                                modal-url="@Url.Action("PartialModalObjetivo",_ControllerName)"
                                class="btn btn-info btn-sm btn-grid btnOpenModal" title="Modificar Objetivo">
                            <i class="fa fa-edit"></i>
                        </button>

                        <button type="button"
                                data-id-rel="@renglon.IdEncriptado"
                                url-delete="@Url.Action("DeleteObjetivo",_ControllerName)"
                                class="btn btn-danger btn-sm btn-grid btn-borrar-detalle" title="Borrar Objetivo">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button type="button"
                                modal-value-primary="@renglon.IdEncriptado"
                                modal-value-secondary="0"
                                modal-value-extra="0"
                                modal-url="@Url.Action("PartialModalVincularIndicador","Objetivos")"
                                class="btn btn-success btn-sm btn-grid btnOpenModal" title="Agregar Indicador">
                            <i class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script>

    table = $('#tablanested_objetivos').DataTable();

    $('#tablanested_objetivos tbody').on('click', '.viewDetailsObjetivo', function () {
        var tr = $(this).closest('tr');
        if (tr.hasClass("original")) {
            var row = table.row(tr);
            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                var div = format(row.data());
                row.child(div).show();
                tr.addClass('shown');
                LoadChildRow(tr.attr("data-bind"), div.attr('id'))
            }
        }

    });

    function LoadChildRow(id,eleid) {

        dataObject = {
            ID: id
        };

        _urlPartial = "@Url.RouteUrl("Default", new { action = "PartialInformeIndicadoresObjetivo", controller = "Objetivos" })";
        APP_LoadPartialView("#"+eleid, dataObject, _urlPartial);

    }
    function functionExtra() {

    }

    function format(rowData) {
        var _id = "div_" + new Date().getTime().toString()
        var div = $('<div/>', { id: _id });
        return div;
    }
</script>