@model Entidades.Vistas.SeguimientoProyecto

@{
    ViewBag.Title = "Seguimiento de Proyecto";
    ViewBag.Subtitle = "[subtitulo]";

    Layout = "~/Views/Shared/_Layout.cshtml";
    string _ControllerName = "Proyectos";
    string _urlBack = Url.RouteUrl("Default", new { action = "Index", controller = _ControllerName });
}

<div class="content-header header-title-page ml-0 mr-0">
    <div class="col-md-9">
        <h4 class="content-title content-title-xs">
            @Model.DatosProyecto.proy_titulo
        </h4>
        <p>
            @Model.DatosProyecto.Tipo.tproy_nombre
        </p>
    </div>

    <div class="col-md-3 pr-0">
        <div class="d-flex flex-row-reverse">
            <button id="btnRegresar" type="button" class="btn btn-xs btn-info op-back-form m-1" data-url-redirect="@_urlBack"><i class="fa fa-backward"></i> Regresar</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-hover card-project-three">
            <div class="card-body">
                <h5 class="project-title"><a href="">Indicadores principales</a></h5>
                <p class="tx-13 tx-gray-600"></p>

                <div class="project-data-group mg-b-25">
                    <div>
                        <h3>@Model.Objetivos.Count</h3>
                        <label>Objetivos</label>
                    </div>
                    <div>
                        <h3>@Model.Indicadores.Count</h3>
                        <label>Indicadores de meta</label>
                    </div>
                    <div>
                        <h3>@Math.Round(Model.DatosProyecto.PorcentajeEvolucion, 2)%</h3>
                        <label>Porcentaje de Evolución</label>
                    </div>
                    <div>
                        <h3>[Estado proyecto]</h3>
                        <label>Estado</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card card-body mt-2">
    <div class="row mt-1 mb-1">
        <div class="col-md-12">
            <h5>Objetivos</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-header-app datatablePartial-scrollbar">
                <thead>
                    <tr>
                        <th width="20px"></th>
                        <th>Cod</th>
                        <th>Título</th>
                        <th>Prioridad</th>
                        <th>Valores</th>
                        <th>Indicadore</th>
                        <th>Evolución</th>
                        <th width="80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Entidades.Proyecto_Objetivo renglon in Model.Objetivos)
                    {
                        <tr>
                            <td style="text-align:center">
                                @if (renglon.pryobj_foto.Length > 0)
                                {
                                    <div class="project-img"><img src="@Url.Content("~/UploadFiles/" + renglon.pryobj_foto)" width="48" height="48" viewBox="0 0 48 48" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><rect x="3" y="3" width="48" height="48" rx="2" ry="2"></rect><line x1="9" y1="3" x2="9" y2="21"></line></div>
                                }
                                else
                                {
                                    <div class="project-img"><img src="@Url.Content("~/UploadFiles/empty_image.png")" width="48" height="48" viewBox="0 0 48 48" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><rect x="3" y="3" width="48" height="48" rx="2" ry="2"></rect><line x1="9" y1="3" x2="9" y2="21"></line></div>
                                }
                            </td>
                            <td>@renglon.pryobj_codigo</td>
                            <td>@renglon.pryobj_nombre</td>
                            <td>
                                <span class="badge badge-pill badge-@renglon.Prioridad.tprioridad_css">@renglon.Prioridad.tprioridad_nombre</span>
                            </td>
                            <td>Base: @renglon.ValorIncial <br /> Meta: @renglon.ValorMeta</td>
                            <td>@renglon.CantidadIndicadores</td>
                            <td>
                                <div class="progress mt-1 text-center">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:@(Convert.ToInt32(renglon.PorcentajeEvolucion))% !important" role="progressbar" aria-valuenow="@(Convert.ToInt32(renglon.PorcentajeEvolucion))" aria-valuemin="0" aria-valuemax="100">@renglon.PorcentajeEvolucion%</div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card card-body mt-2">
    <div class="row mt-1 mb-1">
        <div class="col-md-12">
            <h5>Indicadores</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-header-app datatablePartial-scrollbar">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Valor Base</th>
                        <th>Valor Meta</th>
                        <th>Evolución</th>
                        <th width="80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Entidades.Proyecto_Indicador renglon in Model.Indicadores)
                    {
                        <tr>
                            <td>@renglon.pryind_nombre</td>
                            <td>@renglon.pryind_descripcion</td>
                            <td>@renglon.pryind_valor_base</td>
                            <td>@renglon.pryind_valor_meta</td>
                            <td>
                                <div class="progress mt-1 text-center">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:@(Convert.ToInt32(renglon.pryind_porc_evolucion))% !important" role="progressbar" aria-valuenow="@(Convert.ToInt32(renglon.pryind_porc_evolucion))" aria-valuemin="0" aria-valuemax="100">@renglon.pryind_porc_evolucion%</div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section scripts{

    <script>

    </script>
}
