@model Entidades.Cliente

@{
    string _ControllerName = "Clientes";

    Entidades.App.Token oToken = Filters.VerificarToken.ConsultarToken();
}

<div id="modalFormDefault" class="modal fade modalFormABM" tabindex="-1" role="dialog" aria-labelledby="formModalABM" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel3">
                    @(Model.cli_id.Equals(0) ? "Alta de Cliente " : "Modificar Cliente")
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>
            @using (Html.BeginForm("SaveModalClientes", _ControllerName, FormMethod.Post, new { id = "formABMDefault", name = "formABMDefault", @class = "formularioABMModal", refreshDatatable = "true", resetForm = "true", closeForm = "true" }))
            {
        <div class="modal-body">
            @Html.HiddenFor(x => x.cli_id)


            <div class="row mt-2">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.cli_razon_social, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.cli_razon_social, new { htmlAttributes = new { @class = "form-control form-control-sm", required = "required", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.cli_razon_social, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.cli_cuit, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.cli_cuit, new { htmlAttributes = new { @class = "form-control form-control-sm", required = "required", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.cli_cuit, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.cli_mail, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.cli_mail, new { htmlAttributes = new { @class = "form-control form-control-sm", required = "required", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.cli_mail, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cerrar btn-app" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success pull-left btn-app"> <i class="fa fa-save"></i> Guardar</button>
                </div>
            }
        </div>
    </div>
</div>


<script>

</script>