@model Entidades.App.SIS_Usuario_Password_Recovery

@{
    Layout = null;
}

<h5 class="signin-subtitle">Cambio de contraseña </h5>

<div class="mt-4">
    <p>Ingresa una nueva contraseña que tenga las siguientes características: <br /><br />
        - 8 Caracteres <br />
        - Como mínimo una (1) Mayúscula <br />
        - Como mínimo un (1) Número
    </p>

</div>

@using (Html.BeginForm("RequestRecoveryPassword", "Account", FormMethod.Post, new { id = "frmChangePassword", name = "frmChangePassword", @class = "signin-form" }))
{
    @Html.HiddenFor(h => h.recoveryTokenID)

    <div class="form-group">
        @Html.LabelFor(model => model.upr_new_password)
        @Html.EditorFor(model => model.upr_new_password, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Contraseña nueva", @required = "required", type = "password" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.passwordNewConfirm)
        @Html.EditorFor(model => model.passwordNewConfirm, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Confirmación", @required = "required", type="password" } })
    </div>


    <div class="form-group d-flex mg-b-0">
        <button id="btnConfirmChangePassword" class="btn btn-brand-01 btn-uppercase flex-fill">Cambiar Contraseña</button>
    </div>
}

<script>

    $('#btnConfirmChangePassword').click(function (e) {
            e.preventDefault();

        if ($(frmChangePassword).valid() === false) {
                return false;
        }

            StartSpinner();

        APP_SendFormAjax(frmChangePassword, function (resp) {
                if (resp.Result.Success === true) {
                    StopSpinner();

                    APP_SweetAlert_ShowMessageSuccessCallback('Cambio de contraseña', 'Cambio de contraseña realizado Exitosamente !', function () {
                        location.href = '@Url.Action("login", "Account")';
                    });

                }
                else {
                    StopSpinner();
                    APP_SweetAlert_ShowMessageError('Actualización de contraseña', resp.Result.Message);
                }
            });

        });




</script>