@model Entidades.Categoria

@{
    string _ControllerName = "Categorias";

    Entidades.App.Token oToken = Filters.VerificarToken.ConsultarToken();
}

<div id="modalFormDefault" class="modal fade modalFormABM" tabindex="-1" role="dialog" aria-labelledby="formModalABM" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel3">
                    @(Model.cat_id.Equals(0) ? "Alta de Categoria " : "Modificar Categoria")
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>
            @using (Html.BeginForm("SaveModal", _ControllerName, FormMethod.Post, new { id = "formABMDefault", name = "formABMDefault", @class = "formularioABMModal", refreshDatatable = "true", resetForm = "true", closeForm = "true" }))
            {
        <div class="modal-body">
            @Html.HiddenFor(x => x.IdEncriptado)
            @Html.HiddenFor(x => x.cat_id)


            <div class="row mt-2">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.cat_nombre, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.cat_nombre, new { htmlAttributes = new { @class = "form-control form-control-sm", required = "required", autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.cat_nombre, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="row mt-2">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.cat_descripcion, htmlAttributes: new { @class = "control-label" })
                    <textarea class="form-control" rows="5" placeholder="" required autocomplete="off" name="@Html.NameFor(model=>model.cat_descripcion)" id="@Html.NameFor(model=>model.cat_descripcion)">@Model.cat_descripcion</textarea>
                    @Html.ValidationMessageFor(model => model.cat_descripcion, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-cerrar btn-app" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-success pull-left btn-app"> <i class="fa fa-save"></i> Guardar</button>
            </div>
            }
        </div>
    </div>
</div>


<script>

</script>