@model Entidades.Proyecto_Objetivo_Indicador

@{
    string _ControllerName = "Indicadores";

    Entidades.App.Token oToken = Filters.VerificarToken.ConsultarToken();
}

<div id="modalFormDefault" class="modal fade modalFormABM" tabindex="-1" role="dialog" aria-labelledby="formModalABM" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel3">
                    Vincular un indicador al objetivo
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>
            @using (Html.BeginForm("SaveModalIndicadorObjetivo", _ControllerName, FormMethod.Post, new { id = "formABMDefault", name = "formABMDefault", @class = "formularioABMModal", refreshDatatable = "false", resetForm = "false", closeForm = "true", funcionExtra = "true" }))
            {
            <div class="modal-body">
                @Html.HiddenFor(x => x.poi_id)
                @Html.HiddenFor(x => x.Indicador.IdEncriptado)
                @Html.HiddenFor(x => x.Indicador.pryind_id)
                <div class="row mt-2">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Objetivo, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Objetivo.pryobj_id, new SelectList(Negocio.DDL.ListarObjetivosPorProyecto(Filters.VerificarToken.ConsultarToken(), false, Model.Indicador.Proyecto.proy_id), "Value", "Text"), new { @class = "form-control camporequerido input-sm select2Modal", required = "required" })
                    </div>
                </div>
            </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cerrar btn-app" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success pull-left btn-app"> <i class="fa fa-save"></i> Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function functionExtra() {
        LoadIndicadorObjetivos();
    }
</script>