@model IEnumerable<Entidades.TipoEstadoUbicacionLogistica>

@{
    string _ControllerName = "UbicacionesLogisticas";
}

<table class="table table-sm table-header-app datatablePartial-scrollbar">
    <thead>
        <tr>
            <th>Nombre</th>
            <th width="80px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Entidades.TipoEstadoUbicacionLogistica renglon in Model)
        {
            <tr>

                <td>@renglon.teubilog_nombre</td>

                <td style="text-align: center; vertical-align: middle;">

                    <button type="button"
                            modal-value-primary="@renglon.IdEncriptado"
                            modal-value-secondary="0"
                            modal-value-aux="0"
                            modal-url="@Url.Action("PartialModalABMTipoEstadoUbicaciones",_ControllerName)"
                            class="btn btn-info btn-sm btn-grid btnOpenModal" title="Editar Tipo">
                        <i class="fa fa-edit"></i>
                    </button>


                    <button type="button"
                            data-id-rel="@renglon.IdEncriptado"
                            url-delete="@Url.Action("DeleteEstado",_ControllerName)"
                            class="btn btn-danger btn-sm btn-grid btn-borrar-detalle" title="Borrar Tipo">
                        <i class="fa fa-trash"></i>
                    </button>




                </td>
            </tr>
        }

    </tbody>
</table>

<script>

    function functionAccionCustom(pClave) {
        refreshData();
    }

</script>
