@model IEnumerable<Entidades.Categoria_Colaborador_Evolucion>

<div id="modalFormDefault" class="modal fade modalFormABM" tabindex="-1" role="dialog" aria-labelledby="formModalABM" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel3">
                    Evolución
                </h6>
                <hr />
                <span class="tx-sm text-success font-weight-bold"> Nombre: @ViewBag.Colaborador </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Categoría</th>
                                    <th>Fecha de Promoción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Entidades.Categoria_Colaborador_Evolucion renglon in Model)
                                {
                                <tr>
                                    <td>@renglon.Colaborador.usu_nombre @renglon.Colaborador.usu_apellido </td>
                                    <td>@renglon.Categoria.cat_nombre</td>
                                    <td>@renglon.cce_fecha.ToString("G")</td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-cerrar btn-app" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script>

    </script>
}